@model IEnumerable<AppStaffEmployee.ViewModels.EmployeeViewModel>
@{
    ViewBag.Title = "Сотрудники";
}

<a class="btn btn-primary" asp-action="Create">Создать1</a>
<br/>
<a class="btn btn-secondary" asp-action="Edit">Создать2</a>

<form asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" />
    </p>
    <p>
        Sort by:
        <select name="sortField">
            <option value="FullName">Имя</option>
            <option value="Birthday">Дата рождения</option>
            <option value="Department">Отдел</option>
            <option value="JobTitle">Должность</option>
            <option value="WorkStart">Дата начала работы</option>
            <option value="Salary">Зарплата</option>
        </select>
        Order:
        <select name="sortOrder">
            <option value="asc">По возрастанию</option>
            <option value="desc">По убыванию</option>
        </select>
        <input type="submit" value="Sort" />
    </p>
</form>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Идентификатор</th>
                <th>Ф.И.О.</th>
                <th>Дата рождения</th>
                <th>Отдел</th>
                <th>Должность</th>
                <th>Дата начала работы</th>
                <th>Заработная плата</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Delete" asp-route-id="@employee.Id" class="text-danger">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>@employee.Id</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@employee.Id">@employee.FullName</a>
                    </td>
                    <td>@employee.Birthday</td>
                    <td>@employee.Department</td>
                    <td>@employee.JobTitle</td>
                    <td>@employee.WorkStart</td>
                    <td>@employee.Salary</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@employee.Id">
                            <i class="fa fa-user-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Сотрудники отсутствют</p>
}